# No Index Project Repository
#-----------------------------------------------
repository.old
#repository/pool
#repository/db
#repository/dists
# repository/conf
# repository/repoclean
# repository/repoindex
# repository/repolist
repository/repository.list
# No Index Project Packages Section Import
#-----------------------------------------------
packages/import/*/*/*.build
packages/import/*/*/*.changes
packages/import/*/*/*.deb
packages/import/*/*/*.dsc
packages/import/*/*/*.tar.xz
packages/temp
#packages/import/a/
#packages/import/b/
#packages/import/c/
#packages/import/d/
#packages/import/e/
#packages/import/f/
#packages/import/g/
packages/import/g/gbilling-client
packages/import/g/gbilling-server
#packages/import/h/
#packages/import/i/
#packages/import/j/
#packages/import/k/
#packages/import/l/
#packages/import/m/
#packages/import/n/
#packages/import/o/
#packages/import/p/
#packages/import/q/
#packages/import/r/
#packages/import/s/
#packages/import/t/
#packages/import/u/
#packages/import/v/
#packages/import/w/
#packages/import/x/
#packages/import/y/
#packages/import/z/


# No Index Project Packages Section Main
#-----------------------------------------------
packages/main/*/*/*.build
packages/main/*/*/*.changes
packages/main/*/*/*.deb
packages/main/*/*/*.dsc
packages/main/*/*/*.tar.xz
#packages/main/a/
#packages/main/b/
#packages/main/c/
#packages/main/d/
#packages/main/e/
#packages/main/f/
#packages/main/g/
packages/main/g//grub2-theme-xenta
#packages/main/h/
#packages/main/i/
#packages/main/j/
#packages/main/k/
#packages/main/l/
packages/main/l/libreoffice-style-xenta
#packages/main/m/
packages/main/m/mdm
#packages/main/n/
#packages/main/o/
#packages/main/p/
packages/main/p/plymouth-theme-xentaos
packages/main/p/paketku
#packages/main/q/
#packages/main/r/
#packages/main/s/
packages/main/s/seed
#packages/main/t/
#packages/main/u/
packages/main/u/ubiquity-slideshow-xenta
packages/main/u/ubuntu-system-adjustments
#packages/main/v/
#packages/main/w/
#packages/main/x/
packages/main/x/xenta-artwork
packages/main/x/xenta-artwork-applications
packages/main/x/xenta-artwork-cinnamon
packages/main/x/xenta-artwork-common
packages/main/x/xenta-backgrounds
packages/main/x/xenta-backgrounds-arok
packages/main/x/xenta-common
packages/main/x/xenta-icons
packages/main/x/xenta-info
packages/main/x/xenta-mdm-themes
packages/main/x/xenta-mdm-themes-gdm
packages/main/x/xenta-mdm-themes-html
packages/main/x/xenta-mirrors
packages/main/x/xentaos-keyring
packages/main/x/xenta-psdthumbnailer
packages/main/x/xentaremaster
packages/main/x/xentascreenfetch
packages/main/x/xenta-software-center
packages/main/x/xentasources
packages/main/x/xentasystem
packages/main/x/xenta-translations
packages/main/x/xenta-user-guide
packages/main/x/xenta-welcome-screen
packages/main/x/xenta-icons
packages/main/x/xenta-x-icons
packages/main/x/xenta-x-theme
#packages/main/y/
#packages/main/z/

# No Index Project Packages Section Queen
#-----------------------------------------------
packages/queen/*/*/*.build
packages/queen/*/*/*.changes
packages/queen/*/*/*.deb
packages/queen/*/*/*.dsc
packages/queen/*/*/*.tar.xz
#packages/queen/a/
#packages/queen/b/
#packages/queen/c/
#packages/queen/d/
#packages/queen/e/
#packages/queen/f/
#packages/queen/g/
#packages/queen/g/
#packages/queen/g/
#packages/queen/h/
#packages/queen/i/
#packages/queen/j/
#packages/queen/k/
#packages/queen/l/
#packages/queen/m/
#packages/queen/n/
#packages/queen/o/
#packages/queen/p/
#packages/queen/q/
#packages/queen/r/
#packages/queen/s/
#packages/queen/t/
#packages/queen/u/
#packages/queen/v/
#packages/queen/w/
#packages/queen/x/
#packages/queen/y/
#packages/queen/z/

# No Index Project Packages Section Restricted
#-----------------------------------------------
packages/restricted/*/*/*.build
packages/restricted/*/*/*.changes
packages/restricted/*/*/*.deb
packages/restricted/*/*/*.dsc
packages/restricted/*/*/*.tar.xz
#packages/restricted/a/
#packages/restricted/b/
#packages/restricted/c/
#packages/restricted/d/
#packages/restricted/e/
#packages/restricted/f/
packages/restricted/g/google-chrome-stable/*.deb
#packages/restricted/g/
#packages/restricted/g/
#packages/restricted/h/
#packages/restricted/i/
#packages/restricted/j/
#packages/restricted/k/
#packages/restricted/l/
#packages/restricted/m/
#packages/restricted/n/
#packages/restricted/o/
#packages/restricted/p/
#packages/restricted/q/
#packages/restricted/r/
#packages/restricted/s/
#packages/restricted/t/
#packages/restricted/u/
#packages/restricted/v/
#packages/restricted/w/
#packages/restricted/x/
#packages/restricted/y/
#packages/restricted/z/

# No Index Project Packages Section Upstream
#-----------------------------------------------
packages/upstream/*/*/*.build
packages/upstream/*/*/*.changes
packages/upstream/*/*/*.deb
packages/upstream/*/*/*.dsc
packages/upstream/*/*/*.tar.xz
#packages/upstream/a/
#packages/upstream/b/
#packages/upstream/c/
#packages/upstream/d/
#packages/upstream/e/
#packages/upstream/f/
#packages/upstream/g/
#packages/upstream/g/
#packages/upstream/g/
#packages/upstream/h/
#packages/upstream/i/
#packages/upstream/j/
#packages/upstream/k/
#packages/upstream/l/
#packages/upstream/m/
#packages/upstream/n/
#packages/upstream/o/
#packages/upstream/p/
#packages/upstream/q/
#packages/upstream/r/
#packages/upstream/s/
#packages/upstream/t/
#packages/upstream/u/
#packages/upstream/v/
#packages/upstream/w/
#packages/upstream/x/
#packages/upstream/y/
#packages/upstream/z/
