# No Index Project Repository
# ----------------------------------------------------
# project/repository/pool
# project/repository/db
# project/repository/dists
# project/repository/conf

# No Index Project Packages Section Import
# ----------------------------------------------------
project/packages/import/*/*/*.build
project/packages/import/*/*/*.changes
project/packages/import/*/*/*.deb
project/packages/import/*/*/*.dsc
project/packages/import/*/*/*.tar.xz
#project/packages/import/a/
#project/packages/import/b/
#project/packages/import/c/
#project/packages/import/d/
#project/packages/import/e/
#project/packages/import/f/
#project/packages/import/g/
project/packages/import/g/gbilling-client
project/packages/import/g/gbilling-server
#project/packages/import/h/
#project/packages/import/i/
#project/packages/import/j/
#project/packages/import/k/
#project/packages/import/l/
#project/packages/import/m/
#project/packages/import/n/
#project/packages/import/o/
#project/packages/import/p/
#project/packages/import/q/
#project/packages/import/r/
#project/packages/import/s/
#project/packages/import/t/
#project/packages/import/u/
#project/packages/import/v/
#project/packages/import/w/
#project/packages/import/x/
#project/packages/import/y/
#project/packages/import/z/


# No Index Project Packages Section Main
# ----------------------------------------------------
project/packages/main/*/*/*.build
project/packages/main/*/*/*.changes
project/packages/main/*/*/*.deb
project/packages/main/*/*/*.dsc
project/packages/main/*/*/*.tar.xz
#project/packages/main/a/
#project/packages/main/b/
#project/packages/main/c/
#project/packages/main/d/
#project/packages/main/e/
#project/packages/main/f/
#project/packages/main/g/
project/packages/main/g//grub2-theme-xenta
#project/packages/main/h/
#project/packages/main/i/
#project/packages/main/j/
#project/packages/main/k/
#project/packages/main/l/
project/packages/main/l/libreoffice-style-xenta
#project/packages/main/m/
#project/packages/main/n/
#project/packages/main/o/
#project/packages/main/p/
project/packages/main/p/plymouth-theme-xentaos
project/packages/main/p/paketku
#project/packages/main/q/
#project/packages/main/r/
#project/packages/main/s/
project/packages/main/s/seed
#project/packages/main/t/
#project/packages/main/u/
project/packages/main/u/ubiquity-slideshow-xenta
project/packages/main/u/ubuntu-system-adjustments
#project/packages/main/v/
#project/packages/main/w/
#project/packages/main/x/
project/packages/main/x/xenta-artwork
project/packages/main/x/xenta-artwork-applications
project/packages/main/x/xenta-artwork-cinnamon
project/packages/main/x/xenta-artwork-common
project/packages/main/x/xenta-backgrounds-arok
project/packages/main/x/xenta-common
project/packages/main/x/xenta-icons
project/packages/main/x/xenta-info
project/packages/main/x/xenta-mdm-themes
project/packages/main/x/xenta-mdm-themes-gdm
project/packages/main/x/xenta-mdm-themes-html
project/packages/main/x/xenta-mirrors
project/packages/main/x/xentaos-keyring
project/packages/main/x/xenta-psdthumbnailer
project/packages/main/x/xentaremaster
project/packages/main/x/xentascreenfetch
project/packages/main/x/xenta-software-center
project/packages/main/x/xentasources
project/packages/main/x/xentasystem
project/packages/main/x/xenta-translations
project/packages/main/x/xenta-user-guide
project/packages/main/x/xenta-welcome-screen
project/packages/main/x/xenta-icons
project/packages/main/x/xenta-x-icons
project/packages/main/x/xenta-x-theme
#project/packages/main/y/
#project/packages/main/z/

# No Index Project Packages Section Queen
# ----------------------------------------------------
project/packages/queen/*/*/*.build
project/packages/queen/*/*/*.changes
project/packages/queen/*/*/*.deb
project/packages/queen/*/*/*.dsc
project/packages/queen/*/*/*.tar.xz
#project/packages/queen/a/
#project/packages/queen/b/
#project/packages/queen/c/
#project/packages/queen/d/
#project/packages/queen/e/
#project/packages/queen/f/
#project/packages/queen/g/
#project/packages/queen/g/
#project/packages/queen/g/
#project/packages/queen/h/
#project/packages/queen/i/
#project/packages/queen/j/
#project/packages/queen/k/
#project/packages/queen/l/
#project/packages/queen/m/
#project/packages/queen/n/
#project/packages/queen/o/
#project/packages/queen/p/
#project/packages/queen/q/
#project/packages/queen/r/
#project/packages/queen/s/
#project/packages/queen/t/
#project/packages/queen/u/
#project/packages/queen/v/
#project/packages/queen/w/
#project/packages/queen/x/
#project/packages/queen/y/
#project/packages/queen/z/

# No Index Project Packages Section Restricted
# ----------------------------------------------------
project/packages/restricted/*/*/*.build
project/packages/restricted/*/*/*.changes
project/packages/restricted/*/*/*.deb
project/packages/restricted/*/*/*.dsc
project/packages/restricted/*/*/*.tar.xz
#project/packages/restricted/a/
#project/packages/restricted/b/
#project/packages/restricted/c/
#project/packages/restricted/d/
#project/packages/restricted/e/
#project/packages/restricted/f/
#project/packages/restricted/g/
#project/packages/restricted/g/
#project/packages/restricted/g/
#project/packages/restricted/h/
#project/packages/restricted/i/
#project/packages/restricted/j/
#project/packages/restricted/k/
#project/packages/restricted/l/
#project/packages/restricted/m/
#project/packages/restricted/n/
#project/packages/restricted/o/
#project/packages/restricted/p/
#project/packages/restricted/q/
#project/packages/restricted/r/
#project/packages/restricted/s/
#project/packages/restricted/t/
#project/packages/restricted/u/
#project/packages/restricted/v/
#project/packages/restricted/w/
#project/packages/restricted/x/
#project/packages/restricted/y/
#project/packages/restricted/z/

# No Index Project Packages Section Upstream
# ----------------------------------------------------
project/packages/upstream/*/*/*.build
project/packages/upstream/*/*/*.changes
project/packages/upstream/*/*/*.deb
project/packages/upstream/*/*/*.dsc
project/packages/upstream/*/*/*.tar.xz
#project/packages/upstream/a/
#project/packages/upstream/b/
#project/packages/upstream/c/
#project/packages/upstream/d/
#project/packages/upstream/e/
#project/packages/upstream/f/
#project/packages/upstream/g/
#project/packages/upstream/g/
#project/packages/upstream/g/
#project/packages/upstream/h/
#project/packages/upstream/i/
#project/packages/upstream/j/
#project/packages/upstream/k/
#project/packages/upstream/l/
#project/packages/upstream/m/
#project/packages/upstream/n/
#project/packages/upstream/o/
#project/packages/upstream/p/
#project/packages/upstream/q/
#project/packages/upstream/r/
#project/packages/upstream/s/
#project/packages/upstream/t/
#project/packages/upstream/u/
#project/packages/upstream/v/
#project/packages/upstream/w/
#project/packages/upstream/x/
#project/packages/upstream/y/
#project/packages/upstream/z/
